main
{
    display: flex;
    height: 100vh;
    width: auto;
    margin: 0;
}

nav
{
    display: flex;
    width: 200px;
    height: 100%;
    flex-flow: column nowrap;
    background-color: #1a1c1e;
    overflow: hidden;
}

.topBtnBorder
{
    border-top: 1px solid #7e8589;
}

.navButton
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: #7e8589;
    border-bottom: 1px solid #7e8589;
    height: 61px;
    cursor: pointer;
}

.navButton span
{
    flex: 2 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-left: 5px;
}

.navButton i
{
    flex: 0 0 auto;
    font-size: 37px;
    margin-right: 11px;
}

.navButton:hover
{
    background-color: #47494c;
    color: #c66a19;
}

.navButton.active
{
    background-color: #47494c;
    color: #19c63e;
    outline: none;
}

.navButton:active
{
    outline: none;
}

.menuTextBtn
{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.menuTextBtn h5
{
    flex: 2 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color:#7e8589;
    margin: 0 0 0 5px;
}

.menuButton
{
    display: flex;
    flex: 1 0 0;
    align-self: flex-end center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.menuButton div
{
    width: 40px;
    height: 6px;
    flex-basis: auto;
    background-color: #7e8589;
    margin: 3px;
}

.menuButton:hover div
{
    background-color: #c66a19;
}


