main
{
    display: flex;
    height: 100vh;
    width: auto;
    overflow-y: hidden;
}

nav
{
    display: flex;
    flex-shrink: 0;
    flex-flow: column nowrap;
    min-height: 100%;
    width: 200px;
    background-color: #1a1c1e;
}

/*#region - Class for eatch navigation button w/text and icon*/ 
.navButton /*Wrapper for eatch button*/
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: #7e8589;
    border-bottom: 1px solid #7e8589;
    height: 61px;
    cursor: pointer;
}

.navButton span /*Text*/
{
    flex: 2 0 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-left: 5px;
}

.navButton i /*Icon*/
{
    flex: 0 0 0;
    font-size: 37px;
    margin-right: 11px;
}

.navButton:hover /*Hover color for button text+icon+bg*/
{
    background-color: #47494c;
    color: #c66a19;
}

.navButton.active /*Active button text+icon+bg color*/
{
    background-color: #47494c;
    color: #19c63e;
    outline: none;
}

.navButton:active /*Removing outline on active nav button*/
{
    outline: none;
}

.topBtnBorder /*Add top border, for the top nav button*/
{
    border-top: 1px solid #7e8589;
}

/*#endregion*/

/*#region - Menu text and hamburger button div*/ 
.menuTextBtn /*div wrapper*/
{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.menuTextBtn h5 /*Menu text*/
{
    flex: 2 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color:#7e8589;
    margin: 0 0 0 5px;
}

.menuButton /*Hamburger button wrapper*/
{
    display: flex;
    flex: 1 0 0;
    align-self: flex-end center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.menuButton div /*Bars of the hamburger*/
{
    width: 40px;
    height: 6px;
    flex-basis: auto;
    background-color: #7e8589;
    margin: 3px;
}

.menuButton:hover div /*Hover color Hamburger button*/ 
{
    background-color: #c66a19;
}
/*#endregion*/

/*#region - Router outlet*/
.outlet
{
    width: 100%;
    overflow-y: auto;
}
/*#endregion*/