<!--  -->
<main>
    <nav> <!-- Navigation skal laves helt om i forhold til at fungere ordenligt -->
        <div class="menuTextBtn">
            <h5>Menu</h5>
            <div class="menuButton">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="topBtnBorder navButton" routerLink="/dashbord" routerLinkActive="active">
            <span>Dashboard</span>
            <i class="fa fa-home"></i>
        </div>
        <div class="navButton" routerLink="/settings" routerLinkActive="active">
            <span>Settings</span>
            <i class="fa fa-cog"></i>
        </div>
        <div class="navButton">
            <span>About</span>
            <i class="fa fa-question-circle"></i>
        </div>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>

</main>
