<!--  -->
<main>
    <nav>
        <div class="navList">
            <div class="menuTextBtn">
                <h5>Menu</h5>
                <div class="menuButton">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="navItem">
                <a class="dashBoardBtn" href="#">Dashboard</a>
                <div class="icon"> <!--Mangler arbejde-->
                    <span class="fas fa-home"></span>
                </div>
            </div>
            <div class="navItem">
                <a class="" href="#">Settings</a>
                <span class="fas fa-cog"></span>
            </div>
            <div class="navItem">
                <a class="" href="#">About</a>
                <span class="fas fa-question-circle"></span>
            </div>
        </div>
    </nav>


</main>
